.page.theme_dark {
  --heading-text-color: #FF0070;
  --banner-text-color: #DB00FF;
  --accent-color: #FF0070;
  --header-title-text-color: #000028;
  --main-text-color: #F1B2CE;
  --main-bg-color: #000028;
  --background-image: url(/images/cover-image-dark.png);
  --links-shadow: rgba(255, 0, 112, var(--opacity, 0,4));
}

.theme_dark .header__rec,
.theme_dark .header__rec::before {
  display: block;
}