/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/
.page.theme_dark {
  /* --main-text-color: #F1B2CE; */
  --header-text-color: #000028;
  --accent-color: #FF0070;
  --header-title-color: #DB00FF;
  --background-image: url(/images/cover-image-dark.png);
  --main-bg-color: #000028;
}

@media (prefers-color-scheme: dark) {
  :root {
    --header-text-color: #000028;
    --accent-color: #FF0070;
    --header-title-color: #DB00FF;
    --background-image: url(/images/cover-image-dark.png);
    --main-bg-color: #000028;
  }
}