.content-section {
  padding: 0 clamp(10px, var(--breakpoint-tablet-simulation) * 1000, 20px);
  margin-block-end: clamp(49px, var(--breakpoint-tablet-simulation) * 1000, 80px);
  /* margin-block-end: 50px; */
  color: var(--main-text-color);
  font-size: 18px;
}

.content-section__title {
  color: var(--accent-color);
  font-size: 18px;
  /* margin-block-end: 20px; */
}

.intro {
  display: grid;
  gap: 20px;
}

.intro__list {
  display: grid;
  gap: 19px;
}

.reasons {
  display: grid;
  gap: 20px;
}

.reasons__list {
  display: grid;
  gap: 19px;
}

.advices {
  display: grid;
  gap: 20px;
}

.advices .title-decor:nth-child(1) {
  font-weight: normal;
}

.content-section__subtitle {
  margin-block-end: 0px;
}

.advices__list {
  display: grid;
  gap: 20px;
}

.links {
  text-shadow: 2px 1px 0 var(--accent-color);
}

.images {
  margin-block-end: 41px;
}

.content-section__images {
  display: grid;
  gap: 10px;
}

.content-section__images-item {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  object-position: center;
}

/* .content-section p:nth-of-type(1) {
  margin-block-end: 20px;
}

.content-section img:not(:last-of-type) {
  margin-block-end: 6px;
}

section.content-section:last-of-type {
  margin-block-end: 59px;
} */

.links:hover {
  border-bottom: 1px solid currentColor;
}

.links:focus {
  outline: none;
}

.links:focus-visible {
  outline: 1px solid currentColor;
  outline-offset: 1px;
}

@media (width >= 500px) {
  .intro {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
  }

  .reasons {
    display: grid;
  }

  .reasons__title {
    inline-size: 236px;
  }

  .advices {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
  }

  .advices__title {
    grid-row-start: 1;
    grid-row-end: span 2;
  }

  .images {
    margin-block-end: 60px;
  }

  .images__title {
    margin-block-end: 21px;
  }

  .content-section__images {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .content-section__images-item-sun {
    grid-column: span 2;
  }

  .content-section__images-item-icecream {
    grid-row: span 2;
  }

  .content-section__images-item-tape {
    grid-row: span 2;
  }

  .content-section__images-item-street {
    grid-column: span 2;
  }
}

@media (width >= 900px) {
  .reasons__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .intro {
    gap: 20px 11px;
  }

  .advices {
    gap: 18px 9px;
  }

  .reasons__title {
    inline-size: 315px;
  }
}