/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  font-family: 'IBM Plex mono', monospace;
  max-inline-size: 1024px; 
  background-image: var(--background-image);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: var(--main-bg-color);
}

.header {
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  block-size: max(100vh, 668px);
  padding: clamp(10px, (var(--breakpoint-tablet-simulation) * 1000), 20px);
  margin-block-end: clamp(40px, (var(--breakpoint-tablet-simulation) * 1000), 60px);
  color: var(--heading-text-color);
}

.decorated-zone {
  position: relative;
}

.header__rec {
  position: absolute;
  inset: 10px 38px auto auto;
  color: currentColor;
  /* color: var(--heading-text-color); */
  text-transform: uppercase;
  font-size: 18px;
}

.header__theme-menu {
  /* margin-block-start: 65px;
  margin-block-end: 68px; */
  margin-inline-end: 7px;
  justify-self: end;
  align-self: center;
}

.header__theme-menu-button {
  color: currentColor;
  text-transform: lowercase;
  letter-spacing: 1px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.header__theme-menu-button_active {
  outline: 1px solid currentColor;
  outline-offset: 1px;
  pointer-events: none;
}

.header__title {
  text-shadow: 4px 4px 0 var(--accent-color);
}

.banner-text {
  font-size: var(--banner-size);
  font-weight: bold;
  line-height: 0.83;
  color: var(--banner-text-color);
}

.title-decor {
  font-size: 18px;
  font-weight: bold;
  color: var(--header-title-text-color);
  background-color: var(--accent-color);
  margin-block-end: 9px;
}

.header__description {
  inline-size: 100%;
  font-size: 18px;
  align-self: center;
  margin-block-end: 0;
}

.header__theme-menu-item:not(:last-of-type) {
  margin-block-end: 13px;
}

.header__rec::before {
  content: '';
  position: absolute;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  inset: 9px auto auto 43px;
  background-color: currentColor;
  box-shadow: 0px 0px 4px 2px rgba(255, 0, 112, 1)
}

.decorated-zone::before {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  border-top: 1px solid currentColor;
  border-right: 1px solid currentColor;
  inset: 10px 10px auto auto;
  color: currentColor;
}

.decorated-zone::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  border-left: 1px solid currentColor;
  border-bottom: 1px solid currentColor;
  inset: auto auto 10px 10px;
  color: currentColor;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--links-shadow);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid currentColor;
}

@media (width >= 500px) {
  :root {
    --banner-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem); 
  }

  .header__title {
    position: relative;
    inset-inline-end: 20px;
  }

  .banner-text {
    font-size: var(--banner-size);
  }

  .header__description {
    inline-size: 50%;
    justify-self: end;
  }

  .header__rec {
    inset: 20px 48px auto auto;
  }
  
  .decorated-zone::before {
    inset: 20px 20px auto auto;
  }
  
  .decorated-zone::after {
    inset: auto auto 20px 20px;
  }
}

@media (width >= 1024px) {

  .header__theme-menu {
    justify-self: center;
    align-self: flex-start;
    margin-inline-start: 8px;
  }

  .header__theme-menu-list {
    display: flex;
    gap: 26px;
  }
}