/* :root {
  --header-text-color: #000028;
  --accent-color: #FF0070;
  --banner-text-color: #DB00FF;
  --main-text-color: #F1B2CE;
  --main-bg-color: #000028;
  --background-image: url(/images/cover-image-dark.png);
  --breakpoint-tablet: 500px;
  --breakpoint-tablet-simulation: (100vw - var(--breakpoint-tablet, 500px));
  --opacity: 0.4;
  --links-shadow: rgba(255, 0, 112, var(--opacity, 0,4));
} */

:root {
  --heading-text-color: #FF0070;
  --banner-text-color: #DB00FF;
  --accent-color: #FF0070;
  --header-title-text-color: #000028;
  --main-text-color: #F1B2CE;
  --main-bg-color: #000028;
  --background-image: url(../images/cover-image-dark.png);
  --links-shadow: rgba(255, 0, 112, var(--opacity, 0,4));
  --breakpoint-tablet: 500px;
  --breakpoint-tablet-simulation: (100vw - var(--breakpoint-tablet, 500px));
  --opacity: 0.4;
  --banner-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  
}
